@page "/{Route}"

<h3>@Route</h3>

@if (Route.Equals(Routes.Games))
{
	<GamesPortal />
}
@if (Route.Equals(Routes.Publishers))
{
	<GOD.Admin.UI.Pages.Publishers.PublisherPortal />
}
@if (Route.Equals(Routes.Genres))
{
	<GOD.Admin.UI.Pages.Genres.GenresPortal />
}
@if (Route.Equals(Routes.Sims))
{
	<GOD.Admin.UI.Pages.Sims.SimsPortal/>
}
*

@code {
	[Parameter] public string Route { get; set; } = string.Empty;
}
